*.bat
*.sh
/*/
LICENSE.txt
CHANGELOG
UniversalElectricity

!/src/
/src/minecraft/*

!/src/minecraft/basiccomponents/
!/src/minecraft/universalelectricity/
!/src/minecraft/buildcraft/
!/src/minecraft/railcraft/
!/src/minecraft/dan200/
!/resources/
!publish.bat
!include.bat
!/modversion.txt
!/README