*

/src/minecraft/*
/src/minecraft_server/*
/builds

!/src/minecraft/basiccomponents/
!/src/minecraft/basiccomponents/
!/src/minecraft/universalelectricity/
!/src/minecraft/buildcraft/
!/src/minecraft/railcraft/
!/src/minecraft/dan200/
!/resources/*
!publish.bat
!include.bat
!/modversion.txt
!/README
