/bin/*
/conf/*
/docs/*
/eclipse/*
/forge/*
/jars/*
/lib/*
/logs/*
/modsrc/*
/reobf/*
/runtime/*
/temp/*
CHANGELOG
LICENSE.txt
7za.exe

/src/minecraft/*
/src/minecraft_server/*
/src/common/*
/Builds
/Backup
!/src/minecraft/universalelectricity/
!/src/common/buildcraft/
!/src/common/universalelectricity/
!/src/common/mcmod.info
!/resources/*
!/modversion.txt
!/README

*.bat
*.sh